<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <smile_elasticsuite_core_base_settings>
      <es_client>
        <servers>elasticsearch.internal:9200</servers>
      </es_client>
    </smile_elasticsuite_core_base_settings>
    <catalog>
      <search>
        <engine>elasticsearch</engine>
      </search>
    </catalog>
  </default>
</config>
